@model CineWeb.Models.Checkout

@{
    ViewData["Title"] = "Checkout";
}

<body>
    <div class="container border p-3 mt-4 form-horizontal">
        <div class="row">
            <h2 class="text-center">Checkout</h2>
            <h5 class="text-muted text-center">Please confirm your purchase below.</h5>
            <br>
            <br>
        </div>
    </div>
</body>

