@model IEnumerable<CineWeb.Models.Order>

@{
    ViewData["Title"] = "History";
}

<h1>Order History</h1>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShowTimeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].ShowTimeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Tickets)
            </th>
        </tr>
    </thead>*@
