@model CineWeb.Models.Theater

@{
    ViewData["Title"] = "Seat Selection";
}

<body>
    <form>
        <table>
            @*@foreach (var i in Model.NumRows) {
                <tr>
                    @foreach (var j in Model.NumCols) {
                        <td>
                            do something
                        </td>
                    }
                </tr>
            }*@
        </table>
    </form>
</body>

