@model CineWeb.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Add Movie</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group-md mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-5 input-group-md mb-3">
                <label asp-for="Runtime" class="control-label"></label>
                <textarea asp-for="Runtime" class="form-control" ></textarea>
                <span asp-validation-for="Runtime" class="text-danger"></span>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-5 input-group-md mb-3">
                <label asp-for="RatingMPAA" class="control-label"></label>
                <input asp-for="RatingMPAA" class="form-control" />
                <span asp-validation-for="RatingMPAA" class="text-danger"></span>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-5 mb-3">
                <label asp-for="PosterLink" class="control-label"></label>
                <input asp-for="PosterLink" class="form-control" />
                <span asp-validation-for="PosterLink" class="text-danger"></span>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-5 mb-3">
                <label asp-for="TrailerLink" class="control-label"></label>
                <input asp-for="TrailerLink" class="form-control" />
                <span asp-validation-for="TrailerLink" class="text-danger"></span>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-5 mb-3">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-5 mb-3">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Writers" class="control-label"></label>
                <input asp-for="Writers" class="form-control" />
                <span asp-validation-for="Writers" class="text-danger"></span>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-5 input-group-md mb-3">
                <label asp-for="Stars" class="control-label"></label>
                <input asp-for="Stars" class="form-control" />
                <span asp-validation-for="Stars" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="Synopsis" class="control-label"></label>
                <input asp-for="Synopsis" class="form-control" />
                <span asp-validation-for="Synopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn bg-primary text-white"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><button class="btn bg-primary text-white">Back to List</button></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
