@model CineWeb.Models.Theater

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Html.DisplayFor(model => model.Name)</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumRows" class="control-label"></label>
                <input asp-for="NumRows" class="form-control" />
                <span asp-validation-for="NumRows" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumCols" class="control-label"></label>
                <input asp-for="NumCols" class="form-control" />
                <span asp-validation-for="NumCols" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn bg-primary text-white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn bg-primary text-white" >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
