@model CineWeb.Models.Theater

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Theater</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheaterCapacity" class="control-label"></label>
                <input asp-for="TheaterCapacity" class="form-control" />
                <span asp-validation-for="TheaterCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Row" class="control-label"></label>
                <input asp-for="Row" class="form-control" />
                <span asp-validation-for="Row" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn bg-primary text-white" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn bg-primary text-white" >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
